body{
	background:#415e3d;
	margin: 0;
	padding: 0;
}
h1{
	background: #588053;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px;
	font-family: OCR A Std, monospace;
	font-size: 25px;
	font-weight: bold;
}