body{
	display: flex;
	background:#587457;
	margin: 0;
	padding: 0;
}
h1{
	background: #7BA283;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px;
	border: 2px solid;
	font-family: OCR A Std, monospace;
	font-size: 25px;
	font-weight: bold;
}
#description{
	background:#7BA283;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20%;
	margin-right: 20%;
	border: 1px #7BA283;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	font-family: OCR A Std, monospace;
	font-size: 25px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#name{
	background:#7BA283;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 15%;
	margin-right: 15%;
	border: 1px #7BA283;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	vertical-align: center;
	font-family: OCR A Std, monospace;
	font-size: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#birthday{
	background:#7BA283;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 40%;
	margin-right: 40%;
	border: 1px #7BA283;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	vertical-align: center;
	font-family: OCR A Std, monospace;
	font-size: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#e-mail{
	background:#7BA283;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 40%;
	margin-right: 40%;
	border: 1px #7BA283;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	vertical-align: center;
	font-family: OCR A Std, monospace;
	font-size: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#phonenumber{
	background:#7BA283;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 40%;
	margin-right: 40%;
	border: 1px #7BA283;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	vertical-align: center;
	font-family: OCR A Std, monospace;
	font-size: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#submitbutton{
	padding: 10px;
	text-align: center;
	font-family: OCR A Std, monospace;
	font-size: 20px;
	margin-left: 45%;
	margin-right: 45%;
	background-color: #7BA283;
	border: 1px #7BA283;
	border-radius: 5px;
	vertical-align: center;
	margin-bottom: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#raccoon{
	display: flex;
    justify-content: center;
    align-items: center;
}
#bear{
	 display: flex;
     justify-content: center;
     align-items: center;
}
#bear_text{
	vertical-align: center;
	text-align: center;
	font-family: OCR A Std, monospace;
	font-size: 25px;
}
@media(max-width: 900px){
/*html Styling*/
html{
	display: flex;
	margin: 0;
	position: absolute;
	justify-content: center;
	text-align: center;
}
@media (min-width: 1000px) {
  html {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

}
@media (min-width: 600px) {
  img{
    width: 40%;
    height: auto;
  }
  
  html{
  margin: 0 10% 0 10%;
  padding: 3% 10% 3% 10%;
  }
}